.filters {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-right: 30px;
    opacity: 1;
    color: #ffffff;
}

section.filters button:hover {
    opacity: 0.9;
}