/*
 * === Places Class Style === 
 */

 /* Place Style */
.places {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: center;
}

 /* Header 1 Style */
.places h1 {
    font-size: 30px;
    text-align: left;
    margin-top: -7px;
    margin-left: -80px;
    flex-basis: 90%;
}

 /* Places Style */
 .places article {
    width: 390px;
    padding: 10px 10px 10px 10px;
    margin: 10px 50px 50px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
 }

 /* Header 2 Style */
 .places h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    align-content: center;
 }